.u-section-1 .u-sheet-1 {
  min-height: 1044px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 22px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 588px;
  min-height: 889px;
  height: auto;
  margin: 62px auto 33px;
}

.u-section-1 .u-form-1 {
  height: 658px;
  margin: 0 146px 0 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -758px 0 0 auto;
  padding: 10px 18px 10px 16px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 459px 0 0 auto;
  padding: 10px 29px 10px 28px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 16px 0 0 auto;
  padding: 10px 45px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 44px 0 61px auto;
  padding: 10px 29px 10px 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-form-group-2 {
    border-style: solid;
    margin: 30px auto 60px 264px;
    padding: 7px 27px 7px 26px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 18px;
    padding-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1 .u-form-group-2 {
    margin-left: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 98px;
  }

  .u-section-1 .u-form-group-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: 98px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 98px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 98px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 98px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }
}